.title {
    text-align: center;
    color: black;
    font-size: 50px;
    height: 150px;
    padding: 30px;
    border: black solid;
}
.article {
    font-size: 30px;
    border: black solid;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}
h1 {
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    height: 40px;
    padding: 25px;
    font-size: 25px;
    border: black solid;
    margin-bottom: 0px;
}

.mainimg {
    align-content: stretch;
}

p {
    padding: 15px;
}

.classifieds {
    column-count: 4;
    padding: 10px;
    margin-bottom: 20px;
    border: black dashed;
    font-weight: bold;
}

.img {
    height: 110px;
    width: 130px;
    border: black dotted;
}

.ads1 {
    border: black dotted;
} 

