* {
    margin: 0;
    font-size: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-family: SuperMarioGalaxy;
}

/* need to redo exercise from beginning when i get a chance lots of fuckery going on here */

/* i need to ceneter the words in the white section and find the right font */

.wrapper {
    display: flex;
    /* only matters on a direction 
    parent/child relationship */
    flex-direction: column;
    height: 100vh;
    /* font-family: Mario 256; */
}

.yellowtop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: .30;
    background-color: yellow;
    align-items: left;
    color: red;
}

h3 {
    padding-left: 80px;
    font-size: 65px;
}

.midred {
    display: flex;
    flex: .60;
    background-color: red;
    justify-content: center;
    /* align-items: center; */
    font-size: 30px
    /* align-items: center; */
}

.img1 {
    height: 100%;
    width: 350px;
    padding: 30px;
}

.white {
    /* flex-direction: ; */
    display: flex;
    flex: .70;
    /* align-items: center; */
    justify-content: center;
    /* background-color: white; */
    /* font-size: 50px; */
    /* color: red; */
    
}

/* .about {
    align-items: center;
} */

h2 {
    color: red;
    font-size: 45px;
    padding: 20px 20px;
}

h4 {
    color: red;
    font-size: 40px;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.yellowfoot {
    display: flex;
    flex: .30;
    background-color: yellow; 
    justify-content: flex-end; 
    align-items: center;
    margin-top: 10px;

}

.img2 {

height: 80%;
width: 100px;
padding-right: 30px;
justify-content: right;
/* background-size: contain; */
/* background-repeat: no-repeat; */
}

@font-face {
    font-family: Mario 256;
    src: url(SuperMario256.ttf);
}