h1 {
    color: darkgreen;
    font-family: Georgia;
    text-align: center;
}

h2 {
    font-family: Georgia;
    text-align: center;

}

p {
    line-height: 25 px;
}

a {
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
}

h4 {
    text-transform: uppercase;
}
.floatl {
    float: left;
    margin-right: 25px;
}
ul {
    list-style-position: inside;
}