*{
    box-sizing: border-box;
    margin: 0;
    border-bottom: 5px solid black;
}

body {
    background-color:black;
    /* background-image: url(dream1.jpg); */
    display: flex;
    flex-direction: column;
}

.indexbody {
    background-image: url(dream1.jpg);
}

.dcbody {
    /* background-image: url(dcoutside.jpg); */
    /* background-repeat: no-repeat; */
    background-image: url(tribalbc.jpg);
    /* width: 100%; */

}

header {
    width:100%;
    text-align: center;
    box-shadow: 3px 3px 12px;
    color: black;
    display: flex;
    flex-direction: column;
  }

/* .dcheader { */
    /* background-image: url(dcheaderpic.jpg); */
    /* background-image: url(superthumb.jpg); */
    /* background-image: url(dcoutside.jpg); */
    /* background-repeat: no-repeat; */
    /* width: 100%; */
    /* color: darkslateblue; */
    /* height: 200px; */
    /* font-size: 40px; */
/* } */
/* .dctitle { */
    /* height: 300px; */
    /* font-size: 100px; */
    /* text-align: c; */
    /* padding: 80px; */
    /* padding-bottom: 30px; */
/* } */

.linkz {
    background-color: rgb(100, 100, 100, .3); 
}

.ldlinkz {
    background-color: rgba(73, 7, 112, 0.56);
     
}

.maintitle {
    height: 200px;
    font-size: 100px;
    text-align: center;
    padding: 80px;
    padding-bottom: 30px;
}

nav {
    padding: 5px;
    margin: 20px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
  
.main {
    margin: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
}

.ldmain {
    margin-top: 0;
    margin: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    background-image: url(ldpic.jpg)
}

.dcmain {
    /* background-image: url(colordreamer.jpg); */
    /* width: 35%; */
    margin-left: 30px;
    text-align: center;
}

p {
    font-size: 25px;
    text-align: center;
    padding: 70px 110px 50px 110px;
}
.face {
    float: left;
}

.dumb {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
}

.dcmainpic {
    height: 245px;
    float: left;
}

form { 
    height: 200px;
    margin: 30px;
} 

input {
    height: 50px;
    width: 300px;
    text-align: center;
}

footer {
    padding: 80px;
    text-align: center;
}

#submit {
    height: 50px;
    width: 295px;
}

.dcpic {
    padding-top: 20px;
}

article {
    text-align: center;
}
    
    

