*{
    box-sizing: border-box;
    margin: 0;
    border: 5px solid black;
}

body {
    background-color:black;
    /* flex-wrap: wrap; */
    background-image: url(dream1.jpg); 
    background-repeat: no-repeat;
    /* display: flex; */
    /* height: 100vh; */
    /* width: 100%; */
    /* flex-direction: column; */
}

header {
    /* position: fixed; */
    width:100%;
    /* display: block; */
    text-align: center;
    /* background-color: rgb(36, 238, 171); */
    box-shadow: 3px 3px 12px;
    color: black;
    /* display: flex; */
    /* flex-direction: column; */

    /* text-decoration-line: unset;   */
  }

/* header {
    /* background-image: url(dream1.jpg); */
    /* background-repeat: no-repeat; */
    /* height: 550px; */
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-direction: column; */
    /* align-items: stretch; */
/* } */

h1 {
    height: 200px;
    font-size: 100px;
    text-align: center;
    padding: 30px;
    /* margin-top: 0; */
}

nav {
    padding: 5px;
    margin: 10px;
    /* display: inline; */
    text-align: center;
    position: fixed;
    /* box-shadow: cornsilk; */
    /* box-shadow: 10px black; */
    /* height: px; */
    width: 100%;
    font-size: 50px;
    align-items: flex-end;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
  
.dreams {
    margin: 40px;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 40px;
}


h3  {
    font-size: 50px;
}

p {
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
    
    

