* {
    box-sizing: border-box;
    margin: 0;
    font-family: mario;
    /* border: 1px solid black; */
}

body {
    background-image: url("http://moviehole.net/img/super-marion-run.jpg");
    /* background-repeat: no-repeat;  */
    /* width: ; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    /* margin-right: 0; */
}


h1 {
    /* background: red; */
    text-align: center;
    /* font-family: mario; */
    font-size: 120px;
    text-decoration-line: underline;
    margin: 0;
    padding: 30px;
    box-shadow: black;
    /* border: 5px solid black; */

}

form {
    /* background-color: blue; */
    margin: 0;
}

li {
    font-size: 60px;
    /* font-family: Mario; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: chartreuse;

}
input {
    border: 5px solid black;
    font-size: 40px;
    width: 400px;
    text-align: center;
}
.but {
    text-align: center;
    height: px;
    font-size: 80px;
}

.grandTotal {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    /* display: inline-block; */
}

.pics {
    width: auto;
    height: 100px;
    border: 5px solid black;
    margin: 20px;
}

.bbp {
    color: chartreuse;
    text-align: center;
    border: 5px solid black;
    font-size: 60px;
    height: 75px;
    padding-top: 10px;
} 

#payoutTotal {
    text-align: center;
    font-size: 80px;
    /* position: absolute; */
    /* display: inline-block; */
    border: 5px solid black;
    color: blue;
}
.total {
    font-size: 20px;
    border: 5px solid black;
    margin-right: 300px;
    height: 100px;
    color: blue;
    margin-bottom: 40px;
}

footer {
    display: flex;
    justify-content: space-around;
    /* margin-top: ; */
    flex-wrap: wrap;
    /* background-color: red; */
    padding-bottom: 10px;
    font-size: 25px;
    padding-top: 50px;
    height: 30%;
    margin:0;
}

.pricekey {
    border: 5px solid black;
}










@font-face {
    font-family: mario;
    src: url(SuperMario256.ttf);
}

/* @media (max-width: 775px) {

} */