*{
    box-sizing: border-box;
    font-size: 0;
}

@media (max-width: 50px and 1000px) {

}

.img1 {
    width: 100px;
    height: auto;

}
.img2 {
    width: 100px;
    height: auto;

}
.img3 {
    width: 100px;
    height: auto;

}

@media (min-width: 1000px) {

}