body {
    background-color: black;
}

#box {
    position: absolute;
    width: 300px;
    /* margin: auto; */
    height: 300px;
    border: thick solid purple;
    background-color: rgb(215, 90, 247);
    /* border-radius: 50px; */
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%)
}