body {
    background-color: #111111
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 100px;

}

p1 {
    color: #eeeeee;
    font-size: 24px;
    line-height: 4;
}
p1 .credits {
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
}

#film-description {
    font-size: 20px;
    font-style: italic;
    line-height: 2;
}
